<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

</body>
</html> -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<style type="text/css">
	<!--
		input[type="button"]{
			width:30%;
			padding:10px;
			font-size:30px;
		}
	-->
	</style>
	<title>メニュー画面</title>
</head>
<body>
	<div style="margin-left:41%;margin-right:0%;"><form>
		<br><br>
		<input type="button" onclick="location.href='作業日報登録画面.html'" value="日報登録" />
		<br><br>
		<input type="button" onclick="location.href='../workReportsList/workReportsList.html'" value="日報一覧" />
		<br><br>
		<input type="button" onclick="location.href='ログアウト画面.html'" value="ログアウト" />
	</form></div>

</body>
</html>