
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<style type="text/css">
	<!--
	
		div.logout {
			margin-left:41%;
			margin-right:0%;
		}
		
		input[type="button"] {
			width:37%;
			padding:10px;
			font-size:30px;
		}
		
		.dispUserName {
			margin-left:4%;
			margin-right:0%;
		}
		
	-->
	</style>
	<title>ログアウト画面</title>
</head>
<body>
	<div class="logout">
			<br><br><br><br><br><br><br><br><br><br>
			<form th:action="login" th:object = "${dispUserName}">
				<p class="dispUserName" th:text="*{userName}+'さんはログアウトしました。'"></p>
				<br><br><br>
				<input type="button" onclick="location.href='login'"  value="ログイン画面へ戻る" />
			</form>
	</div>
</body>
</html>