<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<style type="text/css">
	<!--
		div.menu{
			margin-left:41%;
			margin-right:0%;
		}

		input[type="button"]{
			width:30%;
			padding:10px;
			font-size:30px;
		}
		input[type="submit"]{
			width:30%;
			padding:10px;
			font-size:30px;
		}
	-->
	</style>
	<title>メニュー画面</title>
</head>
<body>
	<div class="menu"><br><br><br><br><br><br><br>
		<form th:action="@{menu}" method="post">
			<input type="submit" name="registration" value="日報登録" /><br><br>
			<input type="submit" name="workReportsList" value="日報一覧" /><br><br>
			<input type="submit" name="logout" value="ログアウト" />
		</form>
	</div>
</body>
</html>