<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.softventure.persistence.DailyReportMapper">
	<resultMap id="getResultDailyReport" type="jp.co.softventure.domain.DailyReport">
		<result property="workingDate" column="working_date" />
		<result property="workingTime" column="working_time" />
		<result property="workingStartTime" column="working_start_time" />
		<result property="workingEndTime" column="working_end_time" />
		<result property="workingContents" column="working_contents" />
		<result property="shomuSonota" column="shomu_sonota" />
		<result property="breakTime" column="break_time" />
		<result property="recRegstUser" column="rec_regst_user" />
		<result property="recUpdtUser" column="rec_updt_user" />
		<result property="workingHour" column="working_hour" />
	</resultMap>

	<!-- add start -->
	<!-- 当日勤怠時刻取得 -->
	<select id="selectToday" resultType="jp.co.softventure.domain.DailyReport">
		SELECT
			working_start_time
			,working_end_time
		FROM daily_report
		<where>
			<if test="id != ''">
				id = #{id}
			</if>
			<if test="working_date_s != ''">
				<![CDATA[ AND working_date = #{workingDate} ]]>
			</if>
		</where>
	</select>
	
	<!-- 勤務時間を取得 -->
	<select id="selectTodayStr_End" resultType="jp.co.softventure.domain.DailyReport">
		SELECT
			working_end_time - working_start_time as workingHour
		FROM daily_report
		<where>
			<if test="id != ''">
				id = #{id}
			</if>
			<if test="working_date_s != ''">
				<![CDATA[ AND working_date = #{workingDate} ]]>
			</if>
		</where>
	</select>
	<!-- add end -->

<!-- add n.matsu 退勤時刻を登録 start-->
	<update id="updateEndTime" parameterType="jp.co.softventure.domain.DailyReport">
		UPDATE daily_report
		SET
			id = #{id}
			,working_date = #{workingDate}
			,working_end_time = #{workingEndTime}
			,rec_updt_user = #{id}
		WHERE id = #{id}
		AND working_date = #{workingDate}
	</update>
<!-- add n.matsu 退勤時間を登録 End-->

<!-- 作業時間を登録 start-->	
	<update id="updateWorkingTime" parameterType="jp.co.softventure.domain.DailyReport">
		UPDATE daily_report
		SET
			id = #{id}
			,working_time = #{workingTime}
			,rec_updt_user = #{id}
		WHERE id = #{id}
		AND working_date = #{workingDate}
	</update>
<!-- 作業時間を登録 end-->	

 	<insert id="insert">
		INSERT INTO daily_report(
			id
			,working_date
			,working_time
			,working_start_time
			,working_end_time
			,working_contents
			,shomu_sonota
			,shokan
			,break_time
			,rec_regst_user
			,rec_updt_user
			)
			VALUES (
			#{id}
			,#{workingDate}
			,#{workingTime}
			,#{workingStartTime}
			,#{workingEndTime}
			,#{workingContents}
			,#{shomuSonota}
			,#{shokan}
			,#{breakTime}
			,#{recRegstUser}
			,#{recUpdtUser}
			)
	</insert>
	

<!-- 取得後Dtoにて変換 start-->
	<select id="selectDailyReportDto" resultType="jp.co.softventure.dto.DailyReportDto">
		SELECT
			id
			,working_date
			,working_time
			,working_start_time
			,working_end_time
			,working_contents
			,shomu_sonota
			,shokan
			,break_time
		FROM daily_report	
		<where>
			<if test="id != ''">
				id = #{id}
			</if>
 				<![CDATA[ AND working_date >= #{workDateStart} ]]>
				<![CDATA[ AND working_date <= #{workDateEnd} ]]>
		</where>
	</select>

<!-- 取得後Dtoにて変換 end-->
	
	<!-- 一覧表示用 -->
	<select id="select" resultType="jp.co.softventure.domain.DailyReport">
		 SELECT
			id
			,working_date
			,working_time
			,working_start_time
			,working_end_time
			,working_contents
			,shomu_sonota
			,shokan
			,working_end_time - working_start_time as workingHour
		FROM daily_report
		<where>
			<if test="id != ''">
				id = #{id}
			</if>
			<if test="working_date_s != ''">
				<![CDATA[ AND working_date >= #{working_date_s} ]]>
			</if>
			<if test="working_date_e != ''">
				<![CDATA[ AND working_date < #{working_date_e} ]]>
			</if>
		</where>
		ORDER BY working_date
	</select>
	
	<!-- dailyReport  勤怠時刻-->
	
	<select id="selectAttendance" resultMap="getResultDailyReport">
		SELECT
			<![CDATA[ working_end_time - working_start_time ]]> as working_time
			<!-- working_start_time
			,working_end_time -->
		FROM 
			daily_report
		<where>
			<![CDATA[ working_date = #{workingDate} ]]>
		</where>
 	</select>

	<!-- 更新処理前比較用 START-->
	<select id="selectIdDate" resultMap="getResultDailyReport">
		SELECT
			id
			,working_date
			,working_time
			,working_start_time
			,working_end_time
			,working_contents
			,shomu_sonota
			,shokan
		FROM
			daily_report
		<where>
			<if test="id != ''">
				<![CDATA[ id = #{id} ]]>
			</if>
			<if test="workingDate != ''">
				<![CDATA[ AND working_date = #{workingDate} ]]>
			</if>
		</where>
	</select>
	<!-- 更新処理前比較用 END-->

	<!-- 作業開始時間、作業終了時間を取得 -->
	<select id="selectWorkingHour" resultType="jp.co.softventure.dto.DailyReportDto">
		SELECT
			working_start_time
			,working_end_time
		FROM 
			daily_report
		<where>
			<![CDATA[ working_date = #{workingDate} ]]>
		</where>
 	</select>
 	
	<update id="update" parameterType="jp.co.softventure.domain.UpdateDailyReport">
		UPDATE daily_report
		SET 
			id = #{id}
			,working_date = #{workingDate}
			,working_time = #{workingTime}
			,working_start_time = #{workingStartTime}
			,working_end_time = #{workingEndTime}
			,shomu_sonota = #{shomuSonota}
			,working_contents = #{workingContents}
			,shokan = #{shokan}
		
		WHERE id = #{id}
		AND working_date = #{workingDate}
	</update>
	
</mapper>