<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.softventure.persistence.LoginDataMapper">

	<select id="select" resultType="jp.co.softventure.domain.LoginData">
		 SELECT * FROM login_data
		<where>
			<if test="id != ''">
				id = #{id}
			</if>
		</where>
 	</select>
 	
 	<!-- logoutページ用処理 -->
 	<resultMap id = "getLoginData" type = "jp.co.softventure.domain.LoginData">
		<result property = "userName" column = "user_name"/>
		<result property = "id" column = "id"/>
	</resultMap>
	
	<select id= "selectUserName" resultMap = "getLoginData">
		SELECT user_name FROM login_data WHERE id = #{id}
	</select>

</mapper>