<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.softventure.persistence.RegistrationInfoMapper">

	<insert id = "insert">
		INSERT INTO daily_report (working_date, working_start_time, working_end_time, working_contents, shomu_sonota, shokan , id)
		VALUES (#{workingDate},#{workingStartTime}, #{workingEndTime}, #{workingContents}, #{workingSonota}, #{shokan}, #{id})
	</insert>
	
	<resultMap id = "getRegistrationInfo" type = "jp.co.softventure.domain.RegistrationInfo">
		<result property = "workingStartTime" column = "working_start_time"/>
		<result property = "workingEndTime" column = "working_end_time"/>
		<result property = "workingDate" column = "working_date"/>
	</resultMap>
	
	<select id= "selectWorkingTime" resultMap = "getRegistrationInfo">
		SELECT working_start_time, working_end_time FROM daily_report WHERE working_date = CURDATE() AND id = #{id}
	</select>
	
	<select id= "selectWorkingDate" resultMap = "getRegistrationInfo">
		SELECT working_date FROM daily_report WHERE working_date = #{workingDate} AND id = #{id}
	</select>
	
</mapper>