<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC  
        "-//mybatis.org//DTD Mapper 3.0//EN"  
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="jp.co.softventure.persistence.WorkingReportMapper"> 
    <insert id="insert"> 
        INSERT INTO daily_report(id,working_date,working_time, working_start_time, working_end_time, working_contents,shomu_sonota,shokan)  
        VALUES (#{id},#{working_date}, #{working_time}, #{working_start_time}, #{working_end_time}, #{working_contents}, #{shomu_sonota}, #{shokan}) 
    </insert> 
</mapper> 