<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>作業日報登録完了画面</title>
</head>
<body>
<div align="center">
以下の内容を登録しました。<br><br><br>
作業日時：<span th:text="${registPrintForm.working_date}">デフォルト</span><br><br>
作業開始時間：<span th:text="${registPrintForm.working_start_time}">デフォルト</span><br><br>
作業終了時間：<span th:text="${registPrintForm.working_end_time}">デフォルト</span><br><br>
作業内容：<span th:text="${registPrintForm.working_contents}">デフォルト</span><br><br>
庶務・その他：<span th:text="${registPrintForm.working_sonota}">デフォルト</span><br><br>
所感：<span th:text="${registPrintForm.syokan}">デフォルト</span><br /><br>
<input type="submit" value="メニューへ戻る" />
</div>
</body>
</html>
