<!-- workReportsList.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>日報一覧表</title>
		<style type="text/css">
		.result{
			width:1300px;
			
		}
		
		body{
		  text-align: center;
		
		}
		table{
		  border-collapse:collapse;
		}
		
		table tr th:nth-of-type(-n + 7) {
			background-color: #87cefa;
		}
		</style>
	</head>
	<body>
		<div align="center">
			<!-- 管理者画面からアクセスした場合に表示  -->
			<p th:text="${userName}"></p>
			<form th:action="@{/workreportslist/workReportsList}" th:object="${workReportsListForm}" method="post" >
				<div class="result" >
					<table border="1" >
						<thead>
							<tr>
								<th>日付</th>
								<th>作業内容</th>
								<th>出社時間</th>
								<th>退社時間</th>
								<th>勤務時間</th>
								<th>休憩時間</th>
								<th>作業時間</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="listResult : *{dailyReportResult}">
		 						<td>
									<input type="text" th:value="${listResult.date} + ${listResult.week}" readonly style="border:none"/>
								</td>
								<td>
									<input type="text"  th:value="${listResult.workingContents}" readonly style="border:none"/>
								</td>
								<td>
									<input type="text"  th:value="${listResult.workingStartTime}"  readonly style="border:none"/>
			 					</td>
								<td>
									<input type="text"  th:value="${listResult.workingEndTime}"  readonly style="border:none"/>
								</td>
								<td>
									<input type="text" th:value="${listResult.dutyTime}"  readonly style="border:none"/>
								</td>
								<td>
									<input type="text" th:value="${listResult.breakTime}" readonly style="border:none"/>
								</td>
								<td>
									<input type="text" th:value="${listResult.workTime}"  readonly style="border:none"/>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<table>
					<tr>
						<td>
							<input type="submit" th:name="insert" value="登録" />
						</td>
						<td>
							<input type="submit" th:name="update" value="更新" />
						</td>
						<td>
							<input type="submit" th:name="logout" value="ログアウト" />
						</td>
						<td>
							<input type="submit" th:name="download" value="ダウンロード" />
						</td>
					</tr>
				</table>
			</form>
		</div>
		<script type="text/javascript" src="workReportsList.js"></script>
	</body>
</html>