<!-- workReportsList.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>日報一覧表</title>
	</head>
	<body>
		<form th:action="@{/workReportsList}" th:object="${workReportsListForm}" method="post" >

				<table  style=width:600px border="1" >
				<tr>
					<td rowspan="2" colspan="3">日付</td>
					<td rowspan="2" >作業内容</td>
					<td colspan="5">勤務時間</td>
				</tr>
				<tr>
					<td>出社時間</td>
					<td>退社時間</td>
					<td>勤務時間</td>
					<td>休憩時間</td>
					<td>作業時間</td>
				</tr>
				<tr th:each="listResult : *{dailyReportResult}">
					<td >
						<input type="text" th:value="${listResult.year}"  disabled="true"/>
					</td>
					<td>
						<input type="text" th:value="${listResult.date}" disabled="true" />
					</td>
					<td>
						<input type="text" th:value="${listResult.week}" disabled="true" />
					</td>
					<td>
						<input type="text"  th:value="${listResult.workingContents}" disabled="true" />
					</td>
					<td>
						<input type="text"  th:value="${listResult.workingStartTime}"  />
 					</td>
					<td>
						<input type="text"  th:value="${listResult.workingEndTime}"  />
					</td>
					<td>
						<input type="text" th:value="${listResult.dutyTime}"  disabled="true" />
					</td>
					<td>
						<input type="text" th:value="${listResult.breakTime}" disabled="true"  />
					</td>
					<td>
						<input type="text" th:value="${listResult.workTime}"  disabled="true"/>
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td>
						<input type="submit" th:name="upDate" value="更新" />
					</td>
					<td>
						<input type="submit" th:name="backMenu" value="メニュー画面へ戻る" />
						<!-- <input type="submit" value="メニュー画面へ戻る2" onclick="goMenu();"/> -->
					</td>
					<td>
						<input type="submit" th:name="logout" value="ログアウト" />
					</td>
				</tr>
			</table>
		</form>
		<script type="text/javascript" src="workReportsList.js"></script>
	</body>
</html>